.grid {
  height: 1000px;
  width: 1000px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  flex-grow: 1;
  outline: 2px solid black;
  height: 5%;
  width: 5%;
}

.player {
  background-color: black;
}

.enemy {
  background-color: blue;
}

.weapon {
  background-color: red;
}

.explosion{
  background-color: green;
}

.boundary {

}

.bottom {


}