/* background colour = #2e245d 
transform rotate property

*/

@font-face {
  font-family: 'Arcade';
  src: url('../assets/Arcade/Arcade Regular/Arcade Regular.ttf') format('truetype')
}

html {
  
  
}
* {
  box-sizing: border-box;
  margin:0;
  font-family: 'Arcade', sans-serif;
  color: white;
  text-transform: capitalize;

}
button {
  background-color: black;
  color: white;
  text-align: center;
  border: 2px dotted white;
  font-size: 2rem;
  border-radius: 10px;
  text-transform: capitalize;
  transition-duration: 0.4s;
}


.gameInfoBoard button {
  align-content: center;
  font-size: 30px;
  border: 2px dotted white;
  background-color: black;
  border-radius: 10px;
  margin: 5px;
  margin-bottom: 0;
  text-transform: capitalize;
}

h1 {
  font-size: 100px;
  text-align: center;
}

.startMenu button {
  margin:10px;
  padding: 10px;
  font-size: 57px;
}

progress {
  background-color: black;
  color: white;
  border: 2px dotted white;
  border-radius: 5px;
  
}
::-moz-progress-bar {
  background-color: white;
  border:2px dotted white;
}


/* body {
  width: 100vw;
} */
.content {
  height: 100vh;
  width:100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/backgroundPlate.png');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  background-color: black;
  border: 2px solid green;
}

.grid-wrapper {
  height: 800px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:2px solid rgb(255, 255, 255);
  flex: 4;
}

.grid{
  align-items: center;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); */
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 800px;
  width: 1200px; 
  border: 2px black;
}

.grid div {
  /* border: 1px solid lightgrey; */
  flex-grow: 1;
  height: 5%;
  width: 5%;
}

.playerCharacter{
  background-image: url('../assets/playerShip.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: none;
}
.ufoCharacter {
  background-image: url('../assets/ufoBonus.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: none;
}

.weaponBolt{
  background-image: url('../assets/laserBolt.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: none;
}

.enemyCharacter{
  background-image: url('../assets/alienYellow.gif');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: none; 
  background-position: center;
  position: relative;

}

.explosion {
  background-image: url('../assets/explosion.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: none;
}

.playerCharacterShielded{

}

.displayCurrentBonusWeapon div {
  background-image: url('../assets/bomb.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: none;
}

.weaponBomb {
  background-image: url('../assets/bomb.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: none;
}

.gameInfoBoard{
border:2px solid black;
height: 80px;
width: 1200px;
display: flex;
flex-direction: row;
justify-content: space-between;

}
.gameInfoBoard * {
  flex: 1;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.enemyWeaponBolt {
  background-image: url('../assets/laserBolt.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: none;
}
.displayPowerBar {
  display: flex;
  flex-direction: column;

}
h3 {
  margin: 0;
  text-align: center;
}
.gameInfoBoard p {
  text-align: center;
  font-size: 40px;
  margin: 0;
}


.splashScreen {
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.startMenu {
  display:flex;
  flex-direction:column;
}


.gameScreen, .splashScreen, .optionsScreen, .gameOverScreen, .gameWinScreen{
  height: auto;
  width: auto;
  rotate: x 45deg;
}
.tutorialScreen button{
align-self:flex-end;
flex: 1;
}

.splashScreen, .tutorialScreen{
  display: flex;
  flex-direction: column;
}
.tutorialScreenRight, .winScreenContent, .loseScreenContent {
  display: flex;
  flex-direction: row;
}

button:hover {
  background-color: black;
  color: white;
} 


.instructions {
  flex-wrap: wrap;
  text-align: justify;
  flex:4;
}

.gameOverScreen p, .gameWinScreen p,  {
  font-size: 22px;
}

.winScreenLeft, .winScreenButtons, .loseScreenLeft, .loseScreenButtons {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  
}
.winScreenButtons button, .loseScreenButtons button{
  margin: 20px;
  padding: 15px;
}

.hidden {
  display: none;
}
