/* background colour = #2e245d 


*/

@font-face {
  font-family: 'Arcade';
  src: url('../assets/Arcade/Arcade Regular/Arcade Regular.ttf') format('truetype')
}


* {
  box-sizing: border-box;
}

body {
  height: 1080px;
  width:1920px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Arcade', sans-serif;
  /* background-image: url('/assets/background.png');
  background-repeat: no-repeat;
  background-size: contain;  */
}

/******************** video background test *******************

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

****************************************************************/


.grid-wrapper {
  height: 800px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:2px solid black;
  flex: 4;
}

.grid{
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 800px;
  width: 1200px;
  border: 2px black;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 5%;
  width: 5%;
}

.playerCharacter{
  background-image: url('../assets/alienBlack.gif');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;

}

.weaponBolt{
  background-image: url('../assets/laserBolt.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.enemyCharacter{
  background-image: url('../assets/alienYellow.gif');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.explosion{
  background-image: url('../assets/explosion.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.playerCharacterShielded{

}


.gameInfoBoard{
border:2px solid black;
height: 80px;
width: 1200px;
display: flex;
flex-direction: row;
justify-content: space-between;

}
.gameInfoBoard * {
  border: 2px dotted red;
  flex: 1;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.enemyWeaponBolt {
  background-image: url('../assets/laserBolt.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.displayPowerBar {
  display: flex;
  flex-direction: column;

}
h3 {
  margin: 0;
  text-align: center;
}
.gameInfoBoard p {
  text-align: center;
  font-size: 40px;
  margin: 0;
}

.hidden {
  display: none;
}

.splashScreen {
  display:flex;
  justify-content: center;
}

.startMenu {
  display:flex;
  flex-direction:column;
}